/* sidebar.css */
.sidebar {
  flex: 0 0 250px;
  color: #333;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.sidebar_logo_container {
  display: flex;
  align-items: center;
}

.sidebar_logo_container img {
  width: 44px;
  height: 37.998px;
  margin-right: 6px;
}

.Money {
  color: #f89a23;
  font-family: Poppins;
  font-size: 19.66px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.Matters {
  color: #02969c;
  font-family: Poppins;
  font-size: 19.66px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.sidebar-logo {
  width: 150px;
  margin: 20px;
}

.sidebar-menu {
  flex: 1;
  padding: 20px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  margin-bottom: 15px;
  transition: background-color 0.2s ease;
}

.sidebar-item:hover {
  background-color: rgb(219, 209, 209);
  color: #2d60ff;
}

.sidebar-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.sidebar-icon:hover {
  color: #2d60ff;
}

.sidebar-text {
  color: black;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sidebar-text:hover {
  color: #2d60ff;
  font-size: 20px;
  font-style: bold;
}

.logout {
  padding: 20px;
  display: flex;
  align-items: center;
}

.sidebar_profile {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin-right: 9px;
}

.logout div h1 {
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.logout div p {
  margin-top: 0;
  padding-top: 3px;
  font-size: 10px;
}

.sidebar-item {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 5px;
  margin-left: 10px;
}

/* logout popup */

.logout-popup-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-popup-content {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 19px;
  width: 40%;
  display: flex;
  justify-content: center;
}

.round1 {
  width: 64px;
  height: 64px;
  background-color: #fef3c7;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin-top: 15px;
  margin-right: 20px;
}

.round2 {
  width: 48px;
  height: 48px;
  background-color: #fde68a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.popup-body {
  display: flex;
  align-items: flex-start;
}

.logout_h2 {
  color: black;
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 0;
}

.logout_content {
  display: flex;
  flex-direction: column;
}

.logout-popup-actions {
  display: flex;
  align-items: center;
}

.popup-confirm {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #dc2626;
  margin-right: 10px;
}

.popup-cancel {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  background: #fff;
  color: black;
}
