/* Dashboard styles */

.dashboard_container {
  width: 100%;
}

.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.failure_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard_top_container {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 1px 1px #f1efef;
  padding: 10px;
  background-color: #fff;
  position: sticky;
  top: 0;
}

.dashboard_top_container h2 {
  color: #343c6a;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.add_transaction_button {
  background-color: blue;
  color: white;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  padding-top: 0;
}

.total_credits_debits_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.credits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px #f1efef;
  padding: 10px 20px 20px 10px;
  width: 45%;
}

.credits div h1 {
  color: #16dbaa;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.tcb_img {
  width: 182px;
  height: 161px;
}

.debits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px #f1efef;
  padding: 10px 20px 20px 10px;
  width: 45%;
}

.debits div h1 {
  color: #fe5c73;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.last_transactions_container ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last_transactions_container h2 {
  color: #333b69;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 17px;
  padding-top: 15px;
}

.items {
  width: 200px;
}

.edit_button {
  border: none;
  background-color: transparent;
}

.delete_button {
  border: none;
  background-color: transparent;
}

.last_transactions_container ul hr {
  color: rgb(246, 246, 246);
}

.barchart_container {
  width: 1110px;
  height: 364px;
  flex-shrink: 0;
  margin-left: 20px;
  border-radius: 25px;
  background: #fff;
  padding: 20px;
}

.db_overview_h2 {
  color: #333b69;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 15px;
  padding-top: 15px;
}

.barchart_container h4 {
  color: #333b69;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 15px;
  padding-bottom: 15px;
}
