/* Dashboard styles */

.dashboard_container {
  width: 100%;
}

.top_container {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 1px 1px #f1efef;
  /* padding: 20px; */
  padding-top: 5px;
}

.add_transaction_button {
  background-color: blue;
  color: white;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  padding-top: 0;
}

.total_credits_debits_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.credits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px #f1efef;
  padding: 10px 20px 20px 10px;
  width: 45%;
}

.credits div h1 {
  color: rgb(48, 234, 48);
  font-weight: bold;
  font-size: 35px;
}

.tcb_img {
  width: 182px;
  height: 161px;
}

.debits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px #f1efef;
  padding: 10px 20px 20px 10px;
  width: 45%;
}

.debits div h1 {
  color: rgb(241, 16, 185);
  font-weight: bold;
  font-size: 35px;
}

.last_transactions_container ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last_transactions_container h2 {
  padding-left: 10px;
}

.items {
  width: 200px;
}

.edit_button {
  border: none;
  background-color: transparent;
}

.last_transactions_container ul hr {
  color: rgb(246, 246, 246);
}

.barchart_container {
  width: 1110px;
  height: 364px;
  flex-shrink: 0;
  margin-left: 10px;
}

.barchart_container h2 {
  padding-left: 10px;
}
